 <!-- ng.ant.design-->
<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-card nzTitle="User management" [nzExtra]="buttonAdd">
      <nz-table #user [nzData]="userArray"
      nzShowSizeChanger
        [nzPageSize]="10" 
        [nzPageIndex]="1"
        sty>
        <thead>
          <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Code</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of user.data">
            <td>{{ data.id }}</td>
            <td>{{ data.role_id.role_name }}</td>
            <td>{{ data.code }}</td>
            <td>{{ data.fullname }}</td>
            <td>{{ data.email }}</td>
            <td>
              <a href="# " [routerLink]="['/user/ce-user', data.username]" 
                  style="margin-left: 10px; ">Update</a>
              <a style="color: red; cursor: pointer; margin-left: 10px;"
              (click)="deleteCategory(data.id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>  
</div>

<ng-template #buttonAdd>
  <button nz-button nzType="primary" [routerLink]="['/user/ce-user', 0]">Add User</button>
</ng-template>