<!-- ng.ant.design-->
<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-card nzTitle="Hub management" [nzExtra]="buttonAdd">
      <nz-table #role [nzData]="roleArray"
         nzShowSizeChanger
        [nzPageSize]="10" 
        [nzPageIndex]="1"
        sty>
        <thead>
          <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Desciption</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of role.data">
            <tr>
              <td>{{ data.id }}</td>
              <td>{{ data.role_code }}</td>
              <td>{{ data.role_name }}</td>
              <td>{{ data.description }}</td>
              <td>
                <a [routerLink]="['/role/ce-role', data.id]"
                nz-tooltip
                nzTooltipTitle="update hub" 
                nzTooltipPlacement="top">Update</a>

                <a style="margin: 0 10px;color: red;"
                nz-tooltip
                nzTooltipTitle="delete hub" 
                nzTooltipPlacement="top">Delete</a>
              </td>
            </tr>
          </ng-container>

        </tbody>
      </nz-table> 
    </nz-card>
  </div>  
</div>

<ng-template #buttonAdd>
  <button nz-button nzType="primary" [routerLink]="['/role/ce-role', 0]">Add Role</button>
</ng-template>

 <!-- 
  Xây dựng một hệ thống quản lý kho hàng, bao gồm nhiều kho:
 kiểm soát hàng hóa nhập xuất của từng kho
 sẽ có một kho tổng(sắp xếp, phân loại,hàng hóa)
 từ đó có số liệu thống kê, tiện lợi trong việc kiểm soát hàng hóa
 vận hành: người bán -> hub-> ship -> sort(phân loại, sắp xếp)-> ship -> hub -> ship -> người mua 
 Hàng vỡ, đổi trả
-->