
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

@import "@coreui/coreui/scss/coreui";


@import "layout";

@import "fixes";

@import "examples";

@import "custom";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table{
    width: 100%;
}

.ant-card-body{
    margin: 10px 10px;
    padding: 0 !important;
    height: 80vh;
}
nz-card{
    height: 91vh;
}
